
<div id="rootwizard">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul>
          <li><a href="#tab1" data-toggle="tab">Personal Information</a></li>
          <li><a href="#tab2" data-toggle="tab">Address Information</a></li>
          <li><a href="#tab3" data-toggle="tab">Extra Information</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane" id="tab1">

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
              <div class="panel-heading ">
                <div class="row">
                  <h3 style="text-align: center;color: #59B2E0"><strong>Personal Information Page</strong></h3>
                  <!--<input type="button" name="studentbtn" value="I'm Student" class="btn btn-primary tab-btn " />-->
                  <!--<input type="button" name="studentbtn" value="I'm Teacher" class="btn btn-primary tab-btn" />-->
                  <!--<div class="col-xs-6">-->
                  <!--<a href="#" class="active" id="login-form-link">Login</a>-->
                  <!--</div>-->
                  <!--<div class="col-xs-6">-->
                  <!--<a href="#" id="register-form-link">Register</a>-->
                  <!--</div>-->
                </div>
                <hr>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <form id="personalinfo-form" method="post" role="form" style="display: block;">
                      <div class="form-group">
                        <input type="text" name="phoneno" tabindex="1" class="form-control" placeholder="Enter Phoneno">
                      </div>
                      <div class="form-group">
                        <input type="text" name="altphoneno" tabindex="2" class="form-control" placeholder="Enter Alternative PhoneNo">
                      </div>
                      <div class="form-group">
                      <label>
                        <strong>Gender: </strong>
                      </label>
                        Male: <input class="form-group" type="radio" name="mode" >
                        Female: <input class="form-group" type="radio" name="mode">
                      </div>
                      <div class="form-group">
                        <label>
                          <strong>Date Of Birth: </strong>
                        </label>
                      <input type="date" name="bday">
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="next" id="nextbtnfirst" class="form-control btn btn-next" value="Next">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="tab2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
              <div class="panel-heading ">
                <div class="row">
                  <h3 style="text-align: center;color: #59B2E0"><strong>Address Information Page</strong></h3>
                  <!--<input type="button" name="studentbtn" value="I'm Student" class="btn btn-primary tab-btn " />-->
                  <!--<input type="button" name="studentbtn" value="I'm Teacher" class="btn btn-primary tab-btn" />-->
                  <!--<div class="col-xs-6">-->
                  <!--<a href="#" class="active" id="login-form-link">Login</a>-->
                  <!--</div>-->
                  <!--<div class="col-xs-6">-->
                  <!--<a href="#" id="register-form-link">Register</a>-->
                  <!--</div>-->
                </div>
                <hr>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    <form id="addressInfo-form" method="post" role="form" style="display: block;">
                      <div class="form-group">
                      <select class='form-control' name="Country" >
                      <option class='option' >Enter Select Country</option>
                      </select>
                      </div>
                      <div class="form-group">
                      <select class='form-control' name="State" >
                      <option class='option' >Enter Select State</option>
                      </select>
                      </div>
                      <div class="form-group">
                      <select class='form-control' name="City" >
                      <option class='option' >Enter Select City</option>
                      </select>
                      </div>

                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="next" id="nextbtnsecond" class="form-control btn btn-next" value="Next">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="tab-pane" id="tab3">
      3
    </div>
  </div>
</div>
