<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading ">
          <div class="row">
            <div class="btn-group btngrp">
              <button type="button" id="show-preview"  class="{{flag == 'S' ? 'btn btn-info active' : 'btn btn-info'}} tab-btn " name="studentbtn" (click)="toggleButton('S')" >I'm Student</button>
              <button type="button" id="show-html" class="{{flag == 'T' ? 'btn btn-info active' : 'btn btn-info'}} tab-btn "  name="teacherbtn" (click)="toggleButton('T')" >I'm Teacher</button>
            </div>
            <!--<input type="button" name="studentbtn" value="I'm Student" class="btn btn-primary tab-btn " />-->
            <!--<input type="button" name="studentbtn" value="I'm Teacher" class="btn btn-primary tab-btn" />-->
            <!--<div class="col-xs-6">-->
              <!--<a href="#" class="active" id="login-form-link">Login</a>-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
              <!--<a href="#" id="register-form-link">Register</a>-->
            <!--</div>-->
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" method="post" role="form" style="display: block;">
                <div class="form-group">
                  <input type="text" name="firstname" tabindex="1" class="form-control" placeholder="Enter Firstname">
                </div>
                <div class="form-group">
                  <input type="text" name="lastname" tabindex="2" class="form-control" placeholder="Enter Lastname">
                </div>
                <div class="form-group">
                  <input type="text" name="email" tabindex="3" class="form-control" placeholder="Enter Email">
                </div>
                <div class="form-group">
                  <input type="password" name="password" tabindex="4" class="form-control" placeholder="Enter Password">
                </div>
                <!--<div class="form-group">-->
                  <!--<select class='form-control' name="Country" >-->
                    <!--<option class='option' >Enter Select Country</option>-->
                  <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<select class='form-control' name="State" >-->
                    <!--<option class='option' >Enter Select State</option>-->
                  <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<select class='form-control' name="City" >-->
                    <!--<option class='option' >Enter Select City</option>-->
                  <!--</select>-->
                <!--</div>-->
                <div class="form-group">
                  <input type="text" name="phoneno" tabindex="6" class="form-control" placeholder="Enter PhoneNo">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="getstart" id="getstart" class="form-control btn btn-login" (click)="getStarted(flag)" value="Get Started !">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
