<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <div class="panel panel-login">
        <div class="panel-heading ">
          <div class="row">
            <h3 style="text-align: center"><strong>Registration Page</strong></h3>
            <div class="col-md-12 btngrp">
              <button type="button" id="show-preview"  class="{{flag == 'S' ? 'btn btn-info active' : 'btn btn-info'}} tab-btn col-md-6 " name="studentbtn" (click)="toggleButton('S')" >I'm Student</button>
              <button type="button" id="show-html" class="{{flag == 'T' ? 'btn btn-info active' : 'btn btn-info'}} tab-btn col-md-6"  name="teacherbtn" (click)="toggleButton('T')" >I'm Teacher</button>
            </div>
            <div class="panel-body">
              <div class="row">
                <form method="post" name="form" class="form-horizontal" #form="ngForm" novalidate >
                <div class="col-md-6">
                  <input type="text" pattern="[a-zA-Z][a-zA-Z ]+" name="firstname" placeholder="Enter FirstName" class="form-control cmn" tabindex="1" [(ngModel)]="register.firstname" #firstname="ngModel" required>
                  <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
                       class="alert alert-danger">
                    <div *ngIf="firstname.errors.required">
                      FirstName is required.
                    </div>
                  </div>
                  <input type="text" name="email" placeholder="Enter Email" class="form-control cmn" tabindex="3" [(ngModel)]="register.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)"
                       class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Password is required.
                    </div>
                  </div>
                  <select name="country" tabindex="5"  class="form-control cmn" [(ngModel)]="register.country" #country="ngModel" >
                    <option value="">Select Country</option>
                    <option ></option>
                  </select>

                  <select name="city" tabindex="7"  class="form-control cmn" [(ngModel)]="register.city" #city="ngModel">
                    <option value="" selected>Select City</option>
                    <option class='option' *ngFor="let city of States1[register.State]" [value]="city">{{city}}</option>
                  </select>

                  <input type="file" tabindex="13" name="proPic" id="avatar" class="form-control cmn" (change)="onFileChange($event)">
                  <img [src]="url" style="height: 150px;width:150px;margin-top:5px; border: 1px solid gray; border-radius: 5px;" (error)="onImageError($event)">
                </div>

                <div class="col-md-6">

                  <input type="text" name="lastName" placeholder="Enter LastName" class="form-control cmn" [(ngModel)]="register.lastname" #lastname="ngModel" tabindex="2" required>
                  <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                       class="alert alert-danger">
                    <div *ngIf="lastname.errors.required">
                      LastName is required.
                    </div>
                  </div>
                  <input type="password" name="password" placeholder="Enter Password"  class="form-control cmn" [(ngModel)]="register.password" #password="ngModel" tabindex="4" required>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)"
                       class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      Password is required.
                    </div>
                  </div>
                  <select name="state" tabindex="6"  class="form-control cmn" [(ngModel)]="register.state" #state="ngModel" >
                    <option value="">Select State</option>
                    <option class="option" *ngFor='let state of states' [value]="state">{{state}}</option>
                  </select>

                  <!--<select multiple name="class" tabindex="8"  class="form-control cmn" >-->
                    <!--<option value="">Select Standard</option>-->
                    <!--<option ></option>-->
                  <!--</select>-->

                  <div class="col-md-12">
                    <div class="col-md-6 bottom">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" tabindex="10" checked>
                          Male
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6 bottom">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios2" tabindex="11" value="option2">
                          Female  </label>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="flag == 'T'">
                    <input type="text" name="qualification" placeholder="Enter Qualification" class="form-control cmn" [(ngModel)]="register.qualification" #qualification="ngModel" tabindex="12" required>
                  </div>

                  <!--<img *ngIf="!url" src="https://katiewagnersocialmedia.com//wp-content/uploads/2012/08/Facebook-Blank-Photo.jpg" style="height: 150px;width:150px; border: 1px solid gray;margin-top:5px; border-radius: 5px;">-->
                  <button class="btn btn-primary btnreg" [disabled]="!form.valid" (click)="onRegister(register)">Register</button>
                  <button class="btn btn-danger btnreg">Cancel</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
